body{
    margin :0;
    min-height: 100vh;
    background-image: url("https://st2.depositphotos.com/1008280/9297/i/950/depositphotos_92975866-stock-photo-cute-pug-wrapped-in-blanket.jpg");
    background-color:black; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}


.CProbar{

    color: black;
    font-family:  Helvetica, sans-serif;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.5)

    
}
img{
    left: 0px;
    border-radius: 5%;
     cursor: pointer;
    background-color: rgba(236, 236, 236, 0.7)

}
